:root{
    --cotton-candy: #FAB6E5ff;
    --black: #000000ff;
    --white: #FFFFFFff;
    --aqua: #04FAFEff;
    --bitter-lime: #C2F43Dff;
}


body{
    background-color: var(--black);
    color: var(--aqua);
    font-size: 24px
}