:root {
  --cotton-candy: rgb(255, 107, 201);
  --black: #000000ff;
  --white: #ffffffff;
  --aqua: #04fafeff;
  --bitter-lime: #c2f43dff;
  --deep-purple: rgb(77, 4, 77);
}

body{
  background-color: var(--bitter-lime);
  color: var(--black);
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
}

/* default styling */
#content {
  display: flex;  /* defaults to row layout */
  justify-content: center;  /* centers items horizontally in row layout */
  align-items: center;  /* centers vertically in row layout */
  flex-direction: column; 
}

/* this is the container */
#content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 200px;
  width: 200px;
  padding: 150px;
  border: solid purple 15px;
  border-radius: 25px;
  background-color:var(--cotton-candy);
}

#category{
  text-align: center;
  margin-bottom: -5px;
  font-size: 20px;
  font-weight: bold;
}

.instructions{
  /* background-color: var(--aqua);
  border: solid var(--aqua) 2px;
  border-radius: 15px; */
  width: 400px;
  height: 20px;
  font-size: 18px;
  display: block;
  align-items: center;
  justify-content: center;
  padding: 4px 10px;
}


.btn {
  background-color: var(--aqua);
  color: black;
  border: solid var(--aqua) 8px;
  border-radius: 15px;
  display: flex;
  padding: 5px 15px;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.btn:hover{
  background-color: var(--aqua);
  animation: pulse;
  animation-duration: 2s; 
} 

.hide{
  display: none;
}