
:root {
  --cotton-candy: #fab6e5ff;
  --black: #000000ff;
  --white: #ffffffff;
  --aqua: #04fafeff;
  --bitter-lime: #c2f43dff;
}

body{
  background-color: var(--cotton-candy);
  color: var(--black);
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
}

/* default styling */
#content {
  display: flex;  /* defaults to row layout */
  justify-content: center;  /* centers items horizontally in row layout */
  align-items: center;  /* centers vertically in row layout */
  flex-direction: column; 
}

/* this is the container */
#content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 500px;
  width: 500px;
  padding: 180px;
  border: solid purple 5px;
  /* border-radius: 25px; */
  background-color: var(--bitter-lime);
}

.img {
  max-width:100%;
  height:auto;
  background: rgba(91, 10, 124, 0.717);
  margin: 20px;
  padding: 40px;
  border: solid red 3px;
}

.logo-card {
background-color: var(--bitter-lime);
max-width: 500px;
color: black;
text-align: center;
margin: auto;
}


.btn {
  background-color: var(--aqua);
  color: black;
  border: solid var(--bitter-lime) 8px;
  border-radius: 15px;
  display: inline-block;
  padding: 12px 16px;
  font-size: 28px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  
}

.btn:hover{
  background-color: var(--aqua);
  animation: pulse;
  animation-duration: .5s; 
} 



