:root {
  --cotton-candy: rgb(255, 107, 201);
  --black: #000000ff;
  --white: #ffffffff;
  --aqua: #04fafeff;
  --bitter-lime: #c2f43dff;
  --deep-purple: rgb(77, 4, 77);
}

body{
  background-color: var(--bitter-lime);
  color: var(--black);
  font-size: 20px;
  /* font-family: 'Rock Salt', cursive; */
  font-family: Arial, Helvetica, sans-serif;
}

#game-title{
  font-size: 38px;
  text-align: center;
  color: black;
  margin-top: 30px;
}

.title{
  font-family: 'Rock Salt', cursive;
  font-weight: bold;
  color: var(--bitter-lime);
  font-size: 62px;
  letter-spacing: 10px;
  text-align: center;
}

.description{
  width: 600px;
  height: 50px;
  font-size: 20px;
  display: block;
  align-items: center;
  justify-content: center;
  padding: 4px 10px;
  /* margin: -15px 10px; */
}
/* default styling */
#content {
  display: flex;  /* defaults to row layout */
  justify-content: center;  /* centers items horizontally in row layout */
  align-items: center;  /* centers vertically in row layout */
  flex-direction: column; 
  margin-top: 110px;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 260px;
  width: 800px;
  padding: 160px;
  border: solid purple 15px;
  border-radius: 25px;
  background-color:var(--cotton-candy);
}

/* this is the container */
/* #content{
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 200px;
  width: 200px;
  padding: 150px;
  border: solid purple 15px;
  border-radius: 25px;
  background-color:var(--cotton-candy);
} */

/* .img {
  max-width: 100%;
  height: auto;
  background: rgba(91, 10, 124, 0.717);
  margin: 20px;
  padding: 40px;
  border: solid red 3px;
} */


.btn {
  background-color: var(--aqua);
  color: black;
  border: solid var(--aqua) 8px;
  border-radius: 15px;
  display: block;
  padding: 10px 20px;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  cursor: pointer; 
  margin-bottom: -80px;
}


.filmstrip-wrapper{
  /* border-top: 1 px solid gray;
  border-bottom: 1 px solid gray; */
  animation: filmstrip-animation 2s linear infinite;
  transform: perspective(90);
}

.filmstrip{
  /* background-color: black; */
  white-space: nowrap;
  width: 100vw;
  height: 30vh;
}

.filmstrip::before,
.filmstrip::after {
  /* background-image: url(img/filmstrip_border.gif); */
  content: ' ';
  display: block;
  height: 30px;
  margin-top: 80px;
  margin-bottom: 20px;
}

.filmstrip-frame{
  /* background-color: gray; */
  border-radius: 3px;
  display: inline-block;
  width: 276px;
  height: 250px;
  margin: 0 12px;
}

.filmstrip-frame img{
  display: block;
  margin: auto;
  max-width: 80%;
  max-height: 80%;
}

@keyframes filmstrip-animation{
  from{
    transform: translateX(0);
  }
  to{
    transform: translateX(-300px);
  }
}



