
:root{
  --cotton-candy: #FAB6E5ff;
  --black: #000000ff;
  --white: #FFFFFFff;
  --aqua: #04FAFEff;
  --bitter-lime: #C2F43Dff;
}


body{
  background-color: var(--bitter-lime);
  color: var(--black);
  font-size: 44px
}

.hide{
  display: none;
}

#content {
  display: flex;  /* defaults to row layout */
  justify-content: center;  /* centers items horizontally in row layout */
  align-items: center;  /* centers vertically in row layout */
  flex-direction: column; 
}
