
:root{
  --cotton-candy: #FAB6E5ff;
  --black: #000000ff;
  --white: #FFFFFFff;
  --aqua: #04FAFEff;
  --bitter-lime: #C2F43Dff;
}


body{
  background-color: var(--bitter-lime);
  color: var(--black);
  font-size: 44px;
  font-family: Arial, Helvetica, sans-serif;
}

.hide{
  display: none;
}

#content {
  display: flex;  /* defaults to row layout */
  justify-content: center;  /* centers items horizontally in row layout */
  align-items: center;  /* centers vertically in row layout */
  flex-direction: column; 
}

/* this is the container */
#content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 500px;
  width: 500px;
  padding: 120px;
  border: solid red 5px;
}

#countdown{
    border: red solid 3px;
    height: 100px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 500px;
    padding: 20px;
    margin: 10px;
}

#question-section{
  border: red solid 3px;
  height: 100px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 500px;
  padding: 20px;
}

.btn{
  border: solid red 8px;
  border-radius: 15px;
  width: 500px;
  height: 100px;
  font-size: 28px;
  margin: 10px;
  padding: 20px;
}

.btn:hover{
  background-color: var(--cotton-candy);
}

#startBtn:hover{
background-color: red;
}